<div class="steaming">
<img src="steaming.jpg" class="steamingImg">
<img src="coffee-image1.jpg" class="steamingImg">
<img src="coffee-image2.jpg" class="steamingImg">
<img src="coffee-image3.jpg" class="steamingImg">
<img src="coffee-image4.jpg" class="steamingImg">
<img src="coffee-image5.jpg" class="steamingImg">
</div>

<h2>
<a href="/create-new-account">New Account</a>
<a href="/view-employees">View Employees</a>
<a href="/days">View Work Schedule</a>
<a href="/home">Log Off</a>
</h2>


<h1> Welcome Administrator <h1>
<p> Administrator will be able to create a new account, view employee detals </p>
