<div style="max-width: 1200px; margin: 0 auto; padding: 10px;" >
<div class="container-fluid">
  <div class="row" border='1px solid red'>
    <div class="col-xs-4 col-sm-3 col-md-2" style="width:100%;">

      <img src="steaming.jpg" width="150" height="150">
      <img src="coffee-image1.jpg" width="150" height="150">
      <img src="coffee-image2.jpg" width="150" height="150">
      <img src="coffee-image3.jpg" width="150" height="150">
      <img src="coffee-image4.jpg" width="150" height="150">
      <img src="coffee-image5.jpg" width="150" height="150">

  </div>
</div>
</div>
<br><br>

<div class="container-fluid">
  <div class="row" border='1px solid red' style="">
    <div class="">

    <h3>Admin Page</h3>
    <button class="btn btn-success"><a href="/create-new-account">New Account</a></button>
    <button class="btn btn-success"><a href="/view-employees">View Employees</a></button>
    <button class="btn btn-success"><a href="/days">View Work Schedule</a></button>
    <button class="btn btn-success"><a href="/home">Log Off</a></button>
  </div>

</div>
</div>
</div>
