<div style="max-width: 1200px; margin: 0 auto; padding: 10px;" >
<div class="container-fluid">
  <div class="row" border='1px solid red'>
    <div class="col-xs-4 col-sm-3 col-md-2" style="width:100%;">

      <img src="steaming.jpg" width="150" height="150">
      <img src="coffee-image1.jpg" width="150" height="150">
      <img src="coffee-image2.jpg" width="150" height="150">
      <img src="coffee-image3.jpg" width="150" height="150">
      <img src="coffee-image4.jpg" width="150" height="150">
      <img src="coffee-image5.jpg" width="150" height="150">

  </div>
</div>
</div>
<br><br>

<div class="container-fluid">
  <div class="row" border='1px solid red' style="">
<button class="btn btn-success"><a href="/login">Sign In</a></button>

<h1> Welcome to Coco Divine </h1>
<p> To access Admin Screens please enter 90 at sign up</p>
<p> To access Employee Screens, please view employee list on Admin Screen, then sign up with Employee Number <br>
  please note that all employee numbers start with '10' </p>

</div>
</div>
</div>
