<div style="max-width: 1200px; margin: 0 auto; padding: 10px;">

  <div class="container-fluid">
    <div class="row" border='1px solid red'>
      <div class="col-xs-4 col-sm-3 col-md-2" style="width:100%;">

        <img src="steaming.jpg" width="150" height="150">
        <img src="coffee-image1.jpg" width="150" height="150">
        <img src="coffee-image2.jpg" width="150" height="150">
        <img src="coffee-image3.jpg" width="150" height="150">
        <img src="coffee-image4.jpg" width="150" height="150">
        <img src="coffee-image5.jpg" width="150" height="150">

    </div>
  </div>
  </div>
  <br><br>

  <div class="container-fluid">
    <div class="row" border='1px solid red' style="">
      <div class="col-xs-12 col-md-6 col-lg-8" id="" style="">
        <button class="btn btn-success"><a href="/view-employees">View Employees</a></button>

        <h3 class="signIn">Login</h3>
        <form id="login-form" method="post" action="/waiter/submit">

          <div class="form-group">
            <input class="form-group" type="text" name="id" placeholder="Please Enter Login" required>
          </div>

          <button class="btn btn-success" type="submit" value="submit">Submit</button>
        </form>

      </div>

    </div>
  </div>
</div>
