<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>



  </head>
  <body>
    <!-- <div class="steaming">
    <img src="steaming.jpg" class="steamingImg">
    <img src="coffee-image1.jpg" class="steamingImg">
    <img src="coffee-image2.jpg" class="steamingImg">
    <img src="coffee-image3.jpg" class="steamingImg">
    <img src="coffee-image4.jpg" class="steamingImg">
    <img src="coffee-image5.jpg" class="steamingImg">
  </div> -->
  <a href="/view-employees">View Employees</a>
  <a href="/create-new-account">Create Account</a>

    <form id="login-form" method="post" action="/waiter/submit">
    <h1 class="signIn"> Sign In </h1>
    <input type="text"  name="id" placeholder="Please Enter Login" required> </input><br><br><br><br>
    <button type="submit" value="submit"> Next </button><br><br><br><br>
    </form>
  </body>
</html>
