<a href="/view-employees">View Employees</a>
<a href="/create-new-account">Create Account</a>
<a href="/login">Sign IN</a>

<h1 class="empIDOutput"> Employee ID: {{output}} </h1>
<h1 class="empNameOutput"> Welcome {{employee.name}} </h1>
  <form class="checkBoxForm " action="/waiter/:id" method="post">
  <h2>please select the days you will be working </h2>
  <h2>
  <input type="checkbox" name="selectDay" value="Sunday">Sunday<br>
  <input type="checkbox" name="selectDay" value="Monday">Monday<br>
  <input type="checkbox" name="selectDay" value="Tuesday">Tuesday<br>
  <input type="checkbox" name="selectDay" value="Wednesday">Wednesday<br>
  <input type="checkbox" name="selectDay" value="Thursday">Thursday<br>
  <input type="checkbox" name="selectDay" value="Friday">Friday<br>
  <input type="checkbox" name="selectDay" value="Saturday">Saturday<br><br>
  <!-- <button class="checkBoxButtonView" type="submit" value="submit"> View Working Days </button> -->
  <button class="checkBoxButtonAccept" type="submit" value="submit"> Accept </button>
  <!-- <button class="checkBoxButtonEdit" type="submit" value="submit"> Edit/Update Working Days </button> -->
  </h2>
</form>

<div class="flashMessageCreate">
{{messages.error}}
</div>

</body>
</html>
