<h1> Employee ID: {{output}} <h1>

<h1> Welcome {{employee.name}} <h1>


  <fieldset>
      <legend>Please select one of the following</legend>
      <input type="radio" name="action" id="track" value="track" /><label for="track">Track Submission</label><br />
      <input type="radio" name="action" id="event" value="event"  /><label for="event">Events and Artist booking</label><br />
      <input type="radio" name="action" id="message" value="message" /><label for="message">Message us</label><br />
  </fieldset>

  <div>
<input type="radio" name="radio" id="radio2" class="radio"/>
<label for="radio2">Second Option</label>
</div>

<div>
<input type="radio" name="radio" id="radio3" class="radio"/>
<label for="radio3">Third Option</label>
</div>

<div>
<input type="radio" name="radio" id="radio4" class="radio"/>
<label for="radio4">Fourth Option</label>
</div>
