

/*.checkBoxForm {
  position: relative;
  left: -380px;
}

.checkBoxButtonAccept {
  margin-right: 300px;
}

.signIn {
    margin-left: 375px;
}*/

.days{
  display: -webkit-inline-box;
}

.sufficient {
  font-size: 1em;
  background-color: white;
  font-family: 'Shift', sans-serif;
  width: 10%;
  height: 180px;
  padding: 25px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 5px grey;
}

.in-sufficient {
  font-size: 1em;
  background-color: #ffff66;
  font-family: 'Shift', sans-serif;
  width: 11%;
  height: 180px;
  padding: 25px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 5px grey;
}

.sufficient {
  font-size: 1em;
  background-color:  #66ff99;
  font-family: 'Shift', sans-serif;
  width: 10%;
  height: 180px;
  padding: 25px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 5px grey;
}

.overloaded {
  font-size: 1em;
  background-color: #ff6666;
  font-family: 'Shift', sans-serif;
  width: 10%;
  height: 180px;
  padding: 25px;
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 5px grey;
}

.sufficent-map {
  font-size: 12px;
  background-color: #66ff99;
  font-family: 'Shift', sans-serif;
width: 11%;
  height: 25px;
  /*box-shadow: 10px 10px 5px grey;*/
}

.in-sufficent-map {
  font-size: 12px;
  background-color: #ffff66;
  font-family: 'Shift', sans-serif;
  width: 11%;
  height: 25px;
  /*box-shadow: 10px 10px 5px grey;*/
}

.overloaded-map {
  font-size: 12px;
  background-color: #ff6666;
  font-family: 'Shift', sans-serif;
  width: 11%;
  height: 25px;
  /*box-shadow: 10px 10px 5px grey;*/
}
